doctype html
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href="styles/main.min.css")
    title Fight 215 Banner
  body
    div(id="fight215-banner")
      div
        img(src="images/215-eye.png")
      div
        p(id="fight215-timer")
            span 00
            |  days 
            span 00
            |  hours 
            span 00
            |  minutes 
            span 00
            |  seconds to end mass surveillance under the Patriot Act
      div Speak out.

    //- script(type="text/javascript" src="scripts/vendor/vendor.min.js")
    script(type="text/javascript" src="scripts/main.min.js")