#share-buttons {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  top: 30px; }
  @media (max-width: 830px) {
    #share-buttons {
      right: -25px; } }

#share-buttons a {
  margin: 4px;
  width: 54px;
  height: 74px;
  z-index: 0;
  margin-top: 40px; }

.sicon {
  float: left;
  width: 54px;
  height: 54px;
  background-color: transparent;
  background-image: url("../images/social-icons.png");
  background-repeat: no-repeat; }

#share-buttons .sicon {
  margin-top: 2px; }

#sfb {
  background-position: 0 -57px; }

#stwit {
  background-position: 50% 0; }

#sgplus {
  background-position: 0 -115px; }

#semail {
  background-position: 0 -175px; }

#semail:hover, #sgplus:hover, #stwit:hover, #sfb:hover {
  opacity: 0.9; }

.social-count, .social-no-count {
  display: inline-block;
  position: relative; }

#share-buttons .social-no-count {
  margin-top: 0; }

.social-count:after {
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 2px;
  top: -40px;
  color: #444;
  content: attr(count);
  display: block;
  left: 0px;
  width: 54px;
  padding: 5px;
  text-align: center;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap; }

.social-count:before {
  border: solid;
  border: 1px solid #fff;
  border-color: #111 transparent;
  border-color: #fff transparent;
  border-width: .4em .4em 0 .4em;
  top: -4px;
  content: "";
  display: block;
  left: 22px;
  position: absolute; }

.no-js #share-buttons a {
  margin-top: 0 !important; }
.no-js #share-buttons .social-count {
  margin-bottom: 0 !important; }
.no-js .social-count:after {
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 2px;
  top: -40px;
  color: #444;
  content: attr(count);
  display: none;
  left: 0px;
  width: 54px;
  padding: 5px;
  text-align: center;
  position: absolute;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap; }
.no-js .social-count:before {
  border: solid;
  border: 1px solid #fff;
  border-color: #111 transparent;
  border-color: #fff transparent;
  border-width: .4em .4em 0 .4em;
  top: -4px;
  content: "";
  display: none;
  left: 22px;
  position: absolute; }

/*
 * Globals
 */
/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url(../fonts/Montserrat-Regular.woff) format("woff"); }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url(../fonts/Montserrat-Bold.woff) format("woff"); }
/* Links */
a,
a:focus,
a:hover {
  color: #fff; }

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff; }

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333;
  font-family: 'Montserrat', sans-serif; }

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

/*
 * Navbar
 */
.navbar-inverse.visible {
  opacity: 1; }

.navbar-inverse {
  background-color: #000;
  display: none; }

.nav > li > a {
  text-transform: uppercase; }

.navbar-inverse .navbar-brand {
  color: #fff;
  text-transform: uppercase; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a {
  color: #007eff;
  background-color: #000;
  font-size: 17px; }

/*
 * bg styles
 */
.blue-bg {
  background: url("../images/circuit-pattern-blue.png") repeat #007eff; }

.black-bg {
  background: url("../images/circuit-pattern-black.png") repeat #000; }

.white-bg {
  background: url("../images/circuit-pattern-sm3.png") repeat #fff; }

/*
 * Header
 */
.jumbotron img {
  width: 100%;
  max-width: 800px;
  margin-top: 0px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 30%, 0); }
  100% {
    opacity: 1;
    transform: none; } }
.jumbotron {
  margin-bottom: 0; }
  .jumbotron a {
    text-decoration: underline; }

/*
 * Video section
 */
.video-section {
  padding: 30px 0; }
  .video-section p {
    color: #007eff;
    text-shadow: 0px 0px 30px black;
    font-size: 20px;
    text-align: left;
    line-height: 1.1; }

#video-container {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8); }
  #video-container iframe {
    max-width: 100%; }

#video-container img {
  margin-top: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  cursor: hand;
  width: 100%; }

#video-privacy {
  margin-bottom: 30px; }

.btn-lg.btn-blue {
  background-color: #007eff;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  box-shadow: 0px 0px 30px black; }

/*
 * Call section
 */
.calltool-section {
  padding: 60px 0 80px 0; }
  .calltool-section h1, .calltool-section h2 {
    padding: 0;
    margin: 0; }
  .calltool-section h1 {
    text-transform: uppercase; }
  .calltool-section h2 {
    margin-bottom: 1em; }

#call-script {
  background-color: #fff;
  text-shadow: none;
  color: #151515;
  font-size: 18px;
  padding: 20px;
  text-align: left;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
  margin-top: 20px; }
  #call-script h5 {
    text-align: left;
    color: #007eff;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px; }

#tf-call-widget-form {
  text-align: left;
  padding-left: 10px; }
  #tf-call-widget-form h5 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px; }
  #tf-call-widget-form label {
    font-size: 16px; }
  #tf-call-widget-form .privacy-info {
    text-align: center;
    font-size: 0.9em; }
  #tf-call-widget-form h6 {
    font-size: 1.4em; }
    #tf-call-widget-form h6 a {
      text-decoration: underline; }

.btn-lg.btn-black {
  background-color: #000;
  border-radius: 0;
  font-size: 25px;
  text-transform: uppercase;
  padding: 9px 24px;
  border: 1px solid #000; }
  .btn-lg.btn-black:hover {
    color: #fff;
    border: 1px solid #fff; }

/*
 * Background section
 */
.background-section {
  padding-top: 30px;
  padding-bottom: 50px;
  background: transparent;
  position: relative; }
  .background-section::before {
    content: "";
    background: url("../images/circuit-pattern-sm3.png") repeat #fff;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  .background-section::after {
    content: "";
    background: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2; }
  .background-section p {
    color: #000;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    text-shadow: none;
    opacity: 1;
    margin-bottom: 20px;
    font-weight: 200; }
  .background-section h1, .background-section h2 {
    color: #151515;
    margin: 40px 0 20px 0;
    text-shadow: none; }
  .background-section h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 1.6em; }

.background-section .blue-bg {
  background: transparent; }
  .background-section .blue-bg::before {
    background: url("../images/circuit-pattern-blue.png") repeat #007eff;
    opacity: 0.5 !important; }

.quote-section {
  text-shadow: none;
  padding-bottom: 40px; }
  .quote-section div div div {
    margin-bottom: 3em; }
    .quote-section div div div:first-of-type {
      margin-top: 60px; }
    .quote-section div div div a {
      text-transform: uppercase; }
  .quote-section p {
    font-size: 18px; }

/*
 * Footer
 */
.footer {
  background-color: #001830;
  padding: 20px 0;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8em; }
  .footer img {
    margin: 0 2em; }
    @media (min-width: 768px) {
      .footer img {
        margin: 0 4em; } }
  .footer a {
    color: #007eff; }
  .footer a:hover {
    text-decoration: none;
    color: #fff; }

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0; }

  .mastfoot {
    position: fixed;
    bottom: 0; }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle; }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */ } }
@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px; }

  .jumbotron .container h2 {
    padding: 0 100px; } }
@media (min-width: 1200px) {
  .jumbotron .container h2 {
    padding: 0; } }

/*# sourceMappingURL=style.css.map */
