@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


$black: #151515;
$blue: #007eff;
$white: #fcfcfc;

$trans-blue: rgba(0,126,255,0.3);
$footer-color: #001830;

$medium: 768px;
$small: max-width 767px;

@import 'social-buttons';
@import 'breakpoint';

/*
 G* lobals
 */

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.woff) format('woff');
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333;
  font-family: 'Lato', sans-serif;
}
body {
  color: #fff;
  text-align: center;
  //text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/*
 * Navbar
 */

 .navbar-inverse.visible {
  opacity: 1;
 }
.navbar-inverse {
  background-color: #000;
  display: none;
}
.nav>li>a {
  text-transform: uppercase;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a {
  color: $blue;
  background-color: #000;
  font-size: 17px;
}

/*
 * bg styles
 */
.blue-bg {
  background:  $blue;
}
.black-bg {
  background: url('../images/circuit-pattern-black.png') repeat #000;
}
.white-bg {
  background: url('../images/circuit-pattern-sm3.png') repeat #fff;
}


// button


%button {
  text-decoration: none;
  font-weight: 400;
  font-family: 'Lato';
  letter-spacing: 0.3em;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 1em 4em 0.9em 4em;
  font-size: 1.2em;
  border-radius: 4px;
  margin-top: 2em;
  background-color: transparent;
  outline: 0;
  &:hover {
    background-color: rgba(255,255,255,1);
    color: $black;
  }
}


/*
 * Header
 */
 .jumbotron img {
  width: 100%;
  max-width: 800px;
  margin-top: 0px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
 }
 @keyframes fadeInUp {
   0% {
     opacity: 0;
     transform: translate3d(0, 30%, 0);
   }
   100% {
     opacity: 1;
     transform: none;
   }
 }
 .jumbotron {
  margin-bottom:0;
  a {
    text-decoration: underline;
  }

  @include breakpoint($medium) {
    height: 400px;
  }

  h2 {
    font-weight: 200;
    letter-spacing: 0.01em;
  }


  .cta {
    @extend %button;
  }

 }


 /*
  * Video section
  */
.video-section {
  padding: 30px 0;
  p {
    color: $blue;
    //text-shadow: 0px 0px 30px rgba(0,0,0,1);
    font-size: 20px;
    text-align: left;
    line-height: 1.1;
  }
}
#video-container {
  //box-shadow: 0px 0px 30px rgba(0,0,0,0.8);
  iframe {max-width: 100%;}
}
#video-container img {
  margin-top: 30px;
  margin-bottom:5px;
  cursor: pointer; cursor: hand;
  width: 100%;
}
#video-privacy {
  margin-bottom:30px;
}
.btn-lg.btn-blue {
  background-color: $blue;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  box-shadow: 0px 0px 30px rgba(0,0,0,1);
}

/*
 * Call section
 */

.calltool-section  {
  padding: 60px 0 80px 0;

  h1, h2 {
    padding: 0;
    margin: 0;
  }
  h1 {
    font-family: 'Lato';
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  h2 {
    margin-bottom: 1em;
    font-weight: 300;
  }

  .connect {
    color: $white;
    @extend %button;
    margin-top: 0.5em;

  }
}
#call-script {
  background-color: #fff;
  text-shadow: none;
  color: $black;
  font-size: 18px;
  padding: 1em 2em 2em 2em;
  font-weight: 300;
  text-align: left;
  //box-shadow: 0px 0px 50px rgba(0,0,0,0.7);
  margin-top:20px;
  box-sizing: border-box;

  h5 {
    text-align: left;
    color: $blue;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 0.5em;
    padding: 0;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}
#tf-call-widget-form {
  text-align:center;
  padding-left: 10px;
  h5 {
    //text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 2.5em;
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
  }
  label {
    font-size: 16px;
  }
  .privacy-info {
    text-align: center;
    font-weight: 300;
    font-size: 0.9em;
    margin-top: -1.2em;
  }
  h6 {
    margin-top: 1em;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-style: italic;

    a:hover {
      text-decoration: underline;
    }

  }

  .input-lg {
    margin: 0 auto;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 24px;
    background: transparent;
    color: #fff;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    border-bottom: 2px solid #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-left: 2.2em;
    width: 80%;
    //text-align: center;
    &:focus {
      outline: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

  }
  ::-webkit-input-placeholder { color:#fff; }
  ::-moz-placeholder { color:#fff; }
  :-ms-input-placeholder { color:#fff; }
  input:-moz-placeholder { color:#fff; }

}
// .btn-lg.btn-black {
//   background-color: #000;
//   border-radius: 0;
//   font-size: 25px;
//   text-transform: uppercase;
//   padding: 9px 24px;
//     border: 1px solid #000;
//   &:hover {
//     color: #fff;
//     border: 1px solid #fff;
//   }
// }
/*
 * Background section
 */
.background-section {
  padding-top: 30px;
  padding-bottom:50px;
  background: $white;
  position: relative;
  //background: #fff;
  // &::before {
  //   content: "";
  //   //background: url('../images/circuit-pattern-black.png') repeat #000;
  //   background: url('../images/circuit-pattern-sm3.png') repeat #fff;
  //   opacity: 0.15;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   z-index: -1;   
  // }
  // &::after {
  //   content: "";
  //   background: #fff;
  //   opacity: 1;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   z-index: -2;   
  // }
  // p:first-of-type {
  //   font-size: 22px;
  //   line-height: 27px;
  //   margin-top: 60px;
  // }
  p {
    //color: #fff;
    color: #000;
    font-style: normal;
    font-size: 14px;

    @include breakpoint($medium) {
      font-size: 1.2em;
    }
    text-align: left;
    //text-shadow: 0px 0px 20px black;
    text-shadow: none;
    opacity: 1;
    margin-bottom:20px;
    font-weight: 300;
  }
  // h1 {
  //   color: $blue;
  //   margin: 40px 0 20px 0;
  // }
  h1, h2 {
    color: $black;
    margin: 40px 0 20px 0;
    text-shadow: none;

  }
  h1 {
    font-size: 36px;
    text-align: left;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 1.6em;
  }
}

// .background-section .blue-bg {

//   background: transparent;
//   &::before {
//     background: url('../images/circuit-pattern-blue.png') repeat $blue;
//     opacity: 0.5 !important;
//   }
// }
  


// QUOTES

.quote-section {

  text-shadow: none;
  padding-bottom: 40px;
  div div div { // quotes
    margin-bottom: 3em;
    &:first-of-type {
      margin-top: 60px;
    }
    a {
      float: right;
      @include breakpoint($medium) {
        padding-right: 0em;
      }
      text-transform: uppercase;
      font-weight: 400;
    }
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }

}




/*
 * Footer
 */

.footer {
  background-color: $footer-color;
  padding: 20px 0;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8em;

  img {

    margin: 0 2em;

    @include breakpoint($medium) {
      margin: 0 4em;
    }


  }

  a {
    color: $blue;
  }
  a:hover {
    text-decoration: none;
    color: #fff;
  }


}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }


}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }

  .jumbotron .container h2 { // force a line break
    padding: 0 100px;
  }
}

@media(min-width: 1200px) {
  .jumbotron .container h2 {
    padding: 0;
  }
}